* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'josefin sans', sans-serif;
    list-style: none;
}


header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    background-color: #191919;
    padding-left: 50px;
    padding-right: 50px;

    & h2 {
        padding-top: 20px;
        color: white;
        font-size: 45px;
        font-weight: 700;

        & span {
            color: #f9004d;
        }
    }

    & nav {
        padding-top: 35px;
        cursor: pointer;

        & ul {
            font-size: 25px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 50px;

            & li {
                transition: color ease 0.5s;
                color: white;

                & a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    a:hover {
        transition: 0.5s ease;
        color: #f9004d;
    }

}

section.section-1 {

    padding-left: 50px;
    padding-right: 50px;
    height: 100vh;
    width: 100vw;
    background-image: url(img/background.png);
    background-color: #191919;
    background-position: center;

    & .container {
        & .item-1 {
            color: white;
            position: absolute;
            top: 50%;
            left: 7%;

            & h1 {
                font-size: 75px;

                & span {
                    color: #f9004d;
                }
            }

            & h3 {
                font-size: 20px;
            }
        }
    }
}

section.section-2 {
    justify-items: center;
    padding: 70px 21%;
    background-color: black;
    width: 100vw;
    gap: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;

    & img {
        width: 50vh;
        height: 50vh;
        left: 30%;
        border-radius: 100%;
        border: solid #f9004d;

    }

    & .item-1 {
        position: absolute;
        top: 20%;
        left: 49%;

        padding: 60px;


        & button {
            width: 200px;
            height: 50px;
            background-color: #f9004d;
            color: white;
            margin-top: 20px;
            border-radius: 50px;
            cursor: pointer;
            font-size: 18px;
            transition: background-color ease 0.5s;
            border: solid #f9004d;
        }

        button:hover {
            background-color: black;
        }
    }

    & h1 {
        color: white;
        font-size: 70px;
    }

    & h2 {
        width: 500px;
        color: #996374;
        font-size: 20px;
    }
}

section.projetos {
    background-color: #191919;
    width: 100vw;

    & h1 {
        text-align: center;
        font-size: 70px;
        padding-top: 90px;
        color: white
    }

    & .list {
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        
        
        


        & .item-1 {
            text-align: center;
            position: relative;
            width: 335px;
            height: 365px;
            padding: 30px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #000000;
            border-radius: 40px;
            & h2{
                margin-top: 90px;
                color: white
                
            }
            &  p{
                color: #996374;
                margin-top: 30px;
            }
            & img{
                position: absolute;
                top: 20px;
                width: 250px;
                height: 70px;
            }
            & button {
                width: 150px;
                height: 40px;
                background-color: #f9004d;
                color: white;
                margin-top: 20px;
                border-radius: 50px;
                cursor: pointer;
                font-size: 18px;
                transition: background-color ease 0.5s;
                border: solid #f9004d;
            }
            button:hover{
                transition: 0.5s ease;
                background-color: transparent;
                border: solid #f9004d;
            }
        }
        & .item-2 {
            text-align: center;
            position: relative;
            width: 335px;
            height: 365px;
            padding: 30px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #000000;
            border-radius: 40px;
            & h2{
                margin-top: 90px;
                color: white
                
            }
            &  p{
                color: #996374;
                margin-top: 30px;
            }
            & img{
                position: absolute;
                top: 20px;
                width: 100px;
                height: 75px;
            }
            & button {
                width: 150px;
                height: 40px;
                background-color: #f9004d;
                color: white;
                margin-top: 20px;
                border-radius: 50px;
                cursor: pointer;
                font-size: 18px;
                transition: background-color ease 0.5s;
                border: solid #f9004d;
            }
            button:hover{
                transition: 0.5s ease;
                background-color: transparent;
                border: solid #f9004d;
            }
        }
        & .item-3 {
            text-align: center;
            position: relative;
            width: 335px;
            height: 365px;
            padding: 30px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #000000;
            border-radius: 40px;
            & h2{
                margin-top: 90px;
                color: white
                
            }
            &  p{
                color: #996374;
                margin-top: 30px;
            }
            & img{
                position: absolute;
                top: 20px;
                width: 90px;
                height: 70px;
            }
            & button {
                width: 150px;
                height: 40px;
                background-color: #f9004d;
                color: white;
                margin-top: 20px;
                border-radius: 50px;
                cursor: pointer;
                font-size: 18px;
                transition: background-color ease 0.5s;
                border: solid #f9004d;
            }
            button:hover{
                transition: 0.5s ease;
                background-color: transparent;
                border: solid #f9004d;
            }
        }

    }
}

    footer {
        background-color: #000000;
        width: 100vw;
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & h1 {
            color: #fafafa;
            font-size: 40px;
        }

        & p {
            font-size: 30px;
            color: #fafafa;
            margin: 15px 0 30px 0;
        }

        & .sociais {
            display: flex;
            gap: 20px;

            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                width: 50px;
                background-color: #f9004d;
                border-radius: 50%;
                transition: 0.5s;
            }

            a:hover {
                transform: scale(1.3);
            }

            & img {

                width: 30px;
                border-radius: 50%;
            }
        }
    }


    /* section {
    & .list {
        --calculation: 1;
        & .item {
            transform: translateX(calc(100vw * var(--calculation)));
            transition: 0.5s;
            opacity: 0;

            & .car-img {
                & img {
                    transform: rotate(0);
                    transition: 0.5s;
                    transition-delay: 0.3s;
                }
            }

            & .content {

                & .car-information,
                h2,
                .description,
                .information {
                    transform: translateX(calc(200px * var(--calculation)));
                    transition: 0.7s;
                    transition-delay: 0.3s;
                    opacity: 0;
                    
                }

                & h2 {
                    transition-delay: 0.5s;
                }

                & .description {
                    transition-delay: 0.7s;
                }

                & .information {
                    transition-delay: 0.9s;
                }

            }
        }

        & .active {
            transform: translateX(0vw);
            transition: 0.5s;
            opacity: 1;

            & .car-img {
                & img {
                    transform: rotate(-20deg);
                    
                }
            }

            & .content {

                & .car-information,
                h2,
                .description,
                .information {
                    transform: translateX(0);
                    opacity: 1;
                }

            }

        }
    }
} */
